.advantages {
    position: relative;
    z-index: 0;
    margin-bottom: 100px;
}

.advantages__item:not(:last-child) {
    margin-bottom: 30px;
}


.advantages__illustration {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.advantages__img {
    margin: 0 auto;
    display: block;
}


.advantages__free {
    top: 50%;
    left: 35px;
    position: absolute;

}

.advantages__points {
    position: absolute;
    top: 82px;
    right: 35px;
}

.advantages__discount {
    position: absolute;
    right: 35px;
    bottom: 82px;
}

.advantages__illustration {
    position: relative;
}

.advantages__illustration::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    right: -100px;
    bottom: 0;
    background: center bottom no-repeat url('/img/bg-leafs.svg');
    background-size: auto 100%;
    z-index: -1;
}

@media (min-width: 700px) {
    .advantages::before {
        content: "";
        position: absolute;
        top: 36px;
        left: 0;
        right: 0;
        bottom: 36px;
        background-color: var(--bg-light);
        z-index: -1;
    }
    .advantages__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .advantages__items {
        order: -1;
    }

    .advantages__illustration {
        padding-bottom: 36px;
    }

    .advantages__illustration::before {
        bottom: 36px;
    }
}

@media (min-width: 1024px) {
    .advantages__item {
        padding-left: 20px;
    }

    .advantages__item:nth-child(even) {
        padding-left: 60px;
    }
}