.app-functions {
    margin-bottom: 100px;
}

.app-functions__item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 0 20px;
    max-width: 500px;
    margin: 0 auto 50px;
}

.app-functions__item:last-child {
    margin-bottom: 0;
}

.app-functions__img {
    grid-row: 1/3;
    width: 80px;
    height: auto;
}

.app-functions__title {
    color: var(--dark);
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
    line-height: 1.34;
}

@media (min-width: 800px) {
    .app-functions__items {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .app-functions__item {
        display: block;
    }

    .app-functions__img {
        margin-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    .app-functions__items {
        gap: 50px;
    }

    .app-functions__img {
        margin-bottom: 30px;
        width: 105px;
    }

    .app-functions__title {
        font-size: 1.5625rem;
    }
}