.btn {
    background-color: var(--dark);
    color: white;
    border-radius: 8px;
    display: inline-flex;
    line-height: 1;
    font-weight: 700;
    transition: all 0.3s;
    padding: 21px 19px;
    align-items: center;
    justify-content: center;
}

.btn__ico {
    margin-left: 10px;
}

.btn:hover {
    background-color: var(--accent-second);
}

.btn__accent {
    background-color: var(--accent);
    color: var(--dark);
}

.btn__small {
    padding: 16px 26px;
    font-size: 0.875rem;
}