.description-block {
    position: relative;
    z-index: 0;
    padding: 20px;
}

.description-block::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    border-radius: 10px;
    background-color: var(--bg-light);
    z-index: -1;
}

.description-block__title {
    font-weight: 900;
    line-height: 1.35;
}

.description-block__eyebrow {
    margin-bottom: 20px;
    font-size: 1.125rem;
}

.description-block__content {
    max-width: 414px;
    box-sizing: content-box;
}

.description-block__img-wrap {
    max-width: 400px;
    margin: 0 auto 30px;
}

.how-work {
    margin-bottom: 100px;
}

.send-gifts {
    margin-bottom: 100px;
}

@media (min-width: 700px) {
    .description-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 0;
    }

    .description-block::before {
        bottom: 50px;
    }

    .description-block__img-wrap {
        padding-left: 38px;
        max-width: none;
        margin: 0;
    }

    .description-block__content--reverse {
        order: -1;
        padding-right: 33px;
        justify-self: end;
    }

    .description-block__img-wrap--reverse {
        padding-right: 38px;
    }
    
    
    

}