.get-app-form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.get-app-form__input {
    width: 100%;
    }

@media (min-width: 500px) {
    .get-app-form {
        flex-direction: row;
    }
    .get-app-form__input {
        max-width: 394px;
    }
    
    
}