.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(15,35,54, 0.1);
    background-color: white;
    padding: 5px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--front:not(.isScrolled) {
    padding: 10px 0;
    background: none;
    box-shadow: none;
}

.header--front:not(.isScrolled) .logo__img {
    width: 130px;
}

.header--front:not(.isScrolled) .btn{
    line-height: 50px;
}

@media (min-width: 1024px) {
    .header__nav-btn {
        display: none;
    }
}