.hero {
    background-color: #f5f6f7;
}

.hero__img {
    margin: 0 auto;
    max-width: 300px;
}

.hero__link {
    margin-top: 50px;
    box-shadow: 0 3px 18px rgba(0,201,201,0.55);
}

.hero__picture {
    position: relative;
    z-index: 0;
}

.hero__picture:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: -200px;
    right: -200px;
    z-index: -1;
    background: top center no-repeat url(./img/hero-bg.svg);
    background-size: auto 100%;
}


@media screen and (min-width: 1024px) {
    .hero__inner {
        display: flex;
        flex-direction: row-reverse;
    }
    .hero__img {
        max-width: 100%;
        margin: 0;
    }
    .hero__picture {
        width: 50%;
    }
    .hero__description {
        width: 50%;
        padding-top: 50px;
        z-index: 1;
    }
}