.main-menu {
   text-align: center;
}

.main-menu__link {
    color: var(--dark);
    font-weight: 700;
    font-size: 0.875rem;
    padding: 10px 26px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
}

.main-menu__btn {
    line-height: 40px;
}

.main-menu__link:hover {
    color: var(--accent);
    transition: all 0.3s;
}

.main-menu__item:last-child {
    margin-top: 13px;
}

@media (min-width: 1024px) {
    .main-menu {
        display: grid;
        grid-auto-flow: column;
        gap: 17px;
        align-items: center;
        text-align: left;
    }
    .main-menu__item:last-child {
        margin: 0;
    }
}